<?xml version="1.0"?>
<launch>

<!--Input######################################################################################################-->
    <node pkg="rosbag" type="play" name="rosbag1" args="$(find covis)/bag/campus/c1_stereo.bag -s200 -r1"/> -->

<!--COVIS######################################################################################################-->
<group ns="Agent1">
    <arg name="node_start_delay"  default="1.0" />
    <param name="/yamlconfigfile" type="string" value="$(find covis)/launch/MultiAgent/Campus/conf/c1_stereoi.yaml"/>
    <param name="/briefpath"      type="string" value="$(find covis)/voc/brief_pattern.yml"/>

    <!-- Agent param -->
    <param name="~AgentId"        type="int"    value="1"/>
    <param name="~AgentFrameId"   type="string" value="odom1" /> 
    <param name="~MapTopicName"   type="string" value="Map1"/>

    <!-- TF  -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="linkC1_broadcaster" args="0 0 0 0 0 0 map odom1" />

    <!-- Manager -->
    <node pkg="nodelet" type="nodelet"
          name="covis_nodelet_manager" args="manager" output="screen"
          launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
          <param name="num_worker_threads" value="1" />
    </node>

    <!-- TrackingNode -->
    <node pkg="nodelet" type="nodelet" args="load covis/TrackingNodeletClass covis_nodelet_manager"
        name="TrackingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <!-- D435i -->
        <remap from="/vo/input_image_0"  to="/Agent1/camera/infra1/image_rect_raw"/>
        <remap from="/vo/input_image_1"  to="/Agent1/camera/infra2/image_rect_raw"/>
        <!--<remap from="/imu"               to="/Agent1/camera/imu"/>-->
    </node>-->

  </group>
</launch>
