<?xml version="1.0"?>
<launch>

<!--Input######################################################################################################-->
<include file="$(find covis)/launch/MultiAgent/EUROC/covis_euroc_1.launch"/>-->
<include file="$(find covis)/launch/MultiAgent/EUROC/covis_euroc_2.launch"/>-->
<include file="$(find covis)/launch/MultiAgent/EUROC/covis_euroc_3.launch"/>-->
</launch>
